# Ignore virtual environment directories
venv/
.env/
env/

# Ignore specific large files exceeding GitHub's file size limit
venv/lib/python3.12/site-packages/torch/lib/libtorch_cpu.dylib

# Ignore other commonly ignored files and directories
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
*.cache
*.tmp
*.bak
*.swp
